#title {
    color: rgb(100, 100, 100);
}

body {
    font-family: 'Playfair Display', monospace;
    background-color: white !important;
}


.table_form {
    margin-bottom: 1em;
}

.graph_path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}